@page "/Uploads/Report"

@attribute [Authorize(Roles = "Administrators")]

<h3>Report</h3>

<div class="card">
    <div class="card-body">
        <ChartJs.Blazor.Charts.ChartJsBarChart Config="@_barChartConfig" Width="600" Height="300">
        </ChartJs.Blazor.Charts.ChartJsBarChart>
    </div>
</div>
