@*
    ClaimTypes는 다음 경로 참고
    https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claimtypes?view=net-5.0
*@

@page "/CodeSnippets/CurrentUserData3"

@using Hawaso.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

<h3>현재 접속자 정보 얻기 코드 샘플 3</h3>

@attribute [Authorize(Roles = "Administrators")]

<text>
    현재 접속자:<br />
    UserId: @UserId <br />
    이름: @UserName
</text>

@code {
    #region Parameters

    [Parameter]
    public string UserId { get; set; } = "";

    [Parameter]
    public string UserName { get; set; } = "";

    #endregion

    #region Inject

    // Hawaso 프로젝트는 IdentityUser가 아닌 ApplicationUser를 사용
    [Inject]
    public UserManager<ApplicationUser> UserManagerRef { get; set; } = default!;

    [Inject]
    public AuthenticationStateProvider AuthenticationStateProviderRef { get; set; } = default!;

    #endregion

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(UserId) && string.IsNullOrEmpty(UserName))
        {
            await GetUserIdAndUserNameAsync();
        }
    }

    #region Get UserId and UserName

    private async Task GetUserIdAndUserNameAsync()
    {
        var authState = await AuthenticationStateProviderRef.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;

        if (claimsPrincipal.Identity?.IsAuthenticated == true)
        {
            var currentUser = await UserManagerRef.GetUserAsync(claimsPrincipal);

            UserId = currentUser?.Id ?? "";
            UserName = claimsPrincipal.Identity?.Name ?? currentUser?.UserName ?? "";
        }
        else
        {
            UserId = "";
            UserName = "Anonymous";
        }
    }

    #endregion

}