@*
    다음 경로의 소스 참고
    https://github.com/VisualAcademy/HawasoCookies/blob/master/Hawaso/Pages/FetchData.razor
*@

@page "/CodeSnippets/CurrentUserData2"

@attribute [Authorize(Roles = "Administrators")]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<h3>현재 접속자 정보 얻기 코드 샘플 2</h3>

<text>현재 접속자의 이름은 @Name 입니다.</text>
<br />
nameidentifier: @NameIdentifier

@code {
    public string NameIdentifier { get; set; } = string.Empty;

    public string Name { get; set; } = string.Empty;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationStateRef { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateRef is null)
        {
            return;
        }

        var authState = await AuthenticationStateRef;
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            Name = user.FindFirst(ClaimTypes.Name)?.Value ?? string.Empty;
            NameIdentifier = user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
        }
    }
}