@if (IsShow)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@EditorFormTitle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Hide">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        @if (ModelEdit.Id != 0)
                        {
                            <div class="form-group">
                                <label for="id">Id: </label> @ModelEdit.Id
                                <input type="hidden" @bind-value="@ModelEdit.Id" />
                            </div>
                        }
                        <div class="form-group">
                            <label for="txtName">Name</label>
                            <input type="text" @bind="@ModelEdit.Name"class="form-control" placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" @onclick="CreateOrEditClick">Submit</button>
                            <button type="button" class="btn btn-secondary" @onclick="Hide">Cancel</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}
