@page "/fluent-tabs-demo"

@using Microsoft.FluentUI.AspNetCore.Components

<h3>FluentTabsDemo</h3>

<FluentTabs>
    <FluentTab Label="Attachment">
        <FluentCard Height="500px">
            Attachment List 1
        </FluentCard>
    </FluentTab>
    <FluentTab Label="Attachment2">
        <FluentCard>
            Attachment List 2
        </FluentCard>
    </FluentTab>
</FluentTabs>

@code {

}
