@page "/samples/GetUserAgent"

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<h3>GetUserAgentComponent</h3>

<div style="text-overflow: ellipsis; overflow: hidden;">
    @UserAgent
</div>

@code {
    private string UserAgent =>
        HttpContextAccessor.HttpContext?
            .Request
            .Headers["User-Agent"]
            .ToString()
        ?? "User-Agent information is unavailable.";
}