@page "/divisions"
@page "/divisions/manage"

@using Hawaso.Web.Components.Pages.DivisionPages.Components

<h3>Division Manager</h3>

<DeleteDialog></DeleteDialog>

<ModalForm></ModalForm>

<SearchBox></SearchBox>

<SortOrderArrow></SortOrderArrow>

@code {

}
