

<!-- dul-dropdown 시작 -->
<span class="dul-dropdown">
    <button class="dul-btn">
        <i class="oi oi-grid-three-up text-white dul-icon" style="font-size: medium;"></i>
    </button>
    <span class="dul-dropdown-content">
        <a href="https://www.dotnetnote.com" target="_blank">
            <img src="~/images/dul/dul-dropdown/dul-dropdown-dotnetnote.png" style="width: 20px; height: 20px;" />
            <span>DotNetNote</span>
        </a>
        <a href="https://www.dotnetkorea.com" target="_blank">
            <img src="~/images/dul/dul-dropdown/dul-dropdown-visualacademy.png" style="width: 20px; height: 20px;" />
            <span>DotNetKorea</span>
        </a>
    </span>
</span>
<!-- dul-dropdown 종료 -->

