@page
@model GenerateTempPasswordConfirmationModel
@{
    ViewData["Title"] = "Temporary password sent";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>
            A temporary password has been sent to your email.
            Please check your email and use the temporary password to log in.
        </p>
    </div>
</div>